.nav-button {
    background-color: transparent;
    border: 0.1rem solid transparent;
    font-weight: normal;
    font-size: 1.2rem;
    color: #007bff;
    cursor: pointer;
    transition: padding 500ms ease-in-out, font-weight 200ms ease-in-out, color 500ms ease-in-out;
  }
  
  .navbar {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .nav-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1.3rem;
    padding: 1rem 1rem 1rem 1rem;
  }
  
  .nav-button.active {
    border-radius: 1.3rem;
    padding: 1rem 1rem 1rem 1rem;
    color: white;
    font-weight: bolder;
    background-color: #0d6efd;
  }